@model Incentive.Models.Cliente
@{
    ViewData["Title"] = "Cliente";
}
<table class="table table-bordered table-hover">
    <div class=""> Codigo: @Html.DisplayFor(m => m.codigo)</div>
    <br />
    <div class=""> Nombre: @Html.DisplayFor(m => m.nombre)</div>
    <br />
    <div class=""> Ciudad: @Html.DisplayFor(m => m.ciudad)</div>
    <br />
    <div class=""> Dirección: @Html.DisplayFor(m => m.direccion)</div>
    <br />
    <div class=""> Fecha de registro: @Html.DisplayFor(m => m.fecha_registro)</div>
    <br />
    <div class=""> Estado: @Html.DisplayFor(m => m.estado)</div>



</table>